body * {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(215, 243, 218);
}

ul {
  list-style: none;
}

.bg {
  background-image: url(./assets/Victor.jpg);
  background-position: center;
  background-size: 100vw;
  background-color: darkblue;
  backdrop-filter: blur(25px) grayscale(20%);
  overflow: hidden;
}

ul li .link-1 .img-project{
  width: 70px;
  margin: 0px;
  padding: 0px;
  border-radius: 12px;
}

ul div span{
  display: block;
  width: 2px;
  height: 90px;
  border-radius: 5px;
  background: rgba(104, 40, 134, 0.719);
  margin: 5px auto;
  transition: all 0.3s;
}

.link-1 h4 {
  font-size: 10px;
  color: rgb(178, 148, 218);
}

header .img-user {
  width: 14rem;
  display: flex;
  border-radius: 20px;
  box-shadow: 4px 4px 5px rgb(37, 30, 41);
  margin: 10px;
}

section {
  display: flex;
  margin-top: 20px;
}

section div ul {
  display: flex;
  gap: 20px;
  padding: 0%;
  margin: 5%;
}

section div h2 {
  margin: 10px 20px;
}

section .projetos {
  background-color: rgb(18, 11, 31);
  border-radius: 10px;
  margin-right: 50px;
  box-shadow: 3px 3px 3px rgb(43, 41, 41);
}

ul div {
  width: 10px;
}

header h1,h3,p {
  margin: 0px;
  text-shadow: 2px 2px 1px rgb(43, 41, 41);
}

section {
  margin: 10px 10px;
}





