body{
	background-color: black;
	margin: 0px;
}
ul{
	list-style-type: none;
	margin: 0px;
	padding:0px;
	overflow: hidden;
	background-color: #333;
	border: solid #333;
}
li {
	float: left;
}
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none; 
}
li a:hover:not(.active){
	background-color: #111;
	/*color: #6D6D6D;
    border-bottom:3px solid white;*/
}
.active{
	background-color: #4c3282; 
}
ul{
	position: fixed;
	top: 0;
	width: 100%;
}